body {
    background-color: #ccc;
    font-family: Helvetica, sans-serif;
    color: #222;
    flex: 0px, 0px, 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}
img {
    width: 100%;
}
h1 {
    margin: 15px 0;
}
h2 {
    margin: 10px;
    font-weight: 100, strong;
}

  nav {
    display: inline;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #401610;
    overflow: hidden;
    padding: 10px;
    color: #f3f3f3;
    font-size: 30px;
  }

  nav a:hover {
    background-color: #111;
}

  nav a:visited {
      color:#f3f3f3;
  }

  .active {
    background-color: green;
  }

  iframe {
    width: 600px;
    height: 300px;
  }